apiVersion: v1
kind: Service
metadata:
  name: wordpress-prod-service
  namespace: wordpress-production
  labels:
    app: wordpress
    environment: production
spec:
  type: LoadBalancer
  selector:
    app: wordpress
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80