apiVersion: v1
kind: Service
metadata:
  name: wordpress-prod-service
  namespace: wordpress-production
spec:
  selector:
    app: wordpress
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer   # or NodePort/Ingress in real prod
